<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.SoftBot.WasiVI" version="1.0.0">
    <name>WasiVI</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <access origin="*"/>
    <access origin="*://*.googleapis.com/*" subdomains="true" />
    <access origin="*://*.gstatic.com/*" subdomains="true" />
    <access origin="*://*.google.com/*" subdomains="true" />
    <access origin="*://*.googleusercontent.com/*" subdomains="true" />
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>
    <allow-intent href="tel:*"/>
    <allow-intent href="sms:*"/>
    <allow-intent href="mailto:*"/>
    <allow-intent href="geo:*"/>
    <network-security-config>
        <base-config cleartextTrafficPermitted="true">
            <trust-anchors>
                <certificates src="system" />
            </trust-anchors>
        </base-config> 
        <domain-config cleartextTrafficPermitted="true"> 
            <domain includeSubdomains="true">192.168.0.12</domain> 
        </domain-config>           
    </network-security-config>
    <preference name="orientation" value="portrait" />
    
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#3a9cb1" />
    <preference name="StatusBarDefaultScrollToTop" value="false" />
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <icon src="www/img/iconoWasi.png" />
</widget>
