/*@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gotu&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Bad+Script&display=swap');
font-family: 'Bad Script', cursive;*/
/*@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');
font-family: 'Cedarville Cursive', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
font-family: 'Roboto Mono', monospace;*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
html, body {
      /*position: relative;*/
      height: 100%;
    }
body {
  /*font-family: 'Indie Flower', cursive;
  font-family: 'Gotu', sans-serif;
  */
  font-family: 'Noto Sans', sans-serif;
  background: url(../img/fondo1440x2560.jpg) no-repeat fixed center center;
  background-size: cover;
  /*border: 1px #38DE5B solid;*/
 /* height:100vh;
  width:100%;*/
  padding:0;  
  margin:0;
}
/* css general */
.container .label-custom {    
    color:#f2f2f2;
}
.container .form-control{
  padding: 6px 12px 0px 0px;
}
/***************************************************/
/* div inicio */
/******************************************************/
.container-custom-inicio {
    padding: 0px;
    margin: 0px;
   
}
.container-custom-inicio .div-custom-inicio
{
    padding: 25px 0px 0px 0px;
    margin: 0 auto;    
    width: 100%;
    height: 100%;
    /*border: 1px #F70BEF solid ;*/
}
/*nav tabs */
.div-custom-inicio .navtab-custom-inicio {
  margin: 0px 0px 1px 5px;
  border-radius:1px;
}
.div-custom-inicio .nav-tabs{
  border-bottom: none;
}
.div-custom-inicio .nav-tabs > li > a,
.div-custom-inicio .nav-tabs > li > a:hover,
.div-custom-inicio .nav-tabs > li > a:focus {
    color: #f2f2f2;/*#b3cccc;*/ 
    /*border: 1px solid #000;*/
}
.div-custom-inicio .nav-tabs > .open > a,
.div-custom-inicio .nav-tabs > .open > a:hover,
.div-custom-inicio .nav-tabs > .open > a:focus,
.div-custom-inicio .nav-tabs > li > a:hover,
.div-custom-inicio .nav-tabs > li > a:focus {
  color:  #009999;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: transparent;
}
.div-custom-inicio .nav-tabs > li.active > a,
.div-custom-inicio .nav-tabs > li.active > a:hover,
.div-custom-inicio .nav-tabs > li.active > a:focus {
  color: #009999;
  background-color: rgba(0, 0, 0, 0.6);
  border-color: transparent; ;
  
  border-bottom-color: transparent;
}
.div-custom-inicio .tab-content-custom-inicio {
    margin-top:0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    /*border: 1px solid #000;*/
}

/***************** formularios de inicio y registro ******************/

.div-custom-inicio .form-registro-inicio input[type="text"],
.div-custom-inicio .form-registro-inicio input[type="email"], 
.div-custom-inicio .form-registro-inicio input[type="password"] {
  box-shadow: none;
  border: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #f2f2f2;
  color: #f2f2f2; 
  outline: none;
}
.div-custom-inicio .form-group ::placeholder{
  color: rgba(255,255,255,0.7);
}
/*
.div-custom-inicio .form-registro-inicio input[type="file"] { 
width: 100%; 
height: 100%; 
opacity: 0; 
/*cursor:  pointer;
}*/
/*************imagen, logotipo *****************/
.div-custom-inicio .tab-pane img{
  width: 75px;
  height: 75px;
  margin: 10px auto;  
}
.div-custom-inicio .tab-pane .imgLogo{
  text-align: center; 

} 
/*img carrusel */
.div-custom-inicio .carousel img{
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 20%;
  background: transparent;
  
}

/******************* para subir foto **********************/
.container-custom-inicio .foto-collapse-custom {
   color:#f2f2f2; 
}
.container-custom-inicio .foto-collapse-custom :focus{
   color:#b3cccc;
}
.container-custom-inicio .form-group .foto-collapse-custom{
  background:transparent;
  border-bottom: 1px solid #f2f2f2;
  color: #f2f2f2;
  border-radius: 0;
}
.container-custom-inicio .panel-heading{ 
    position: relative;
    margin-top: 0px;
    color: #f2f2f2;
    /*border: 1px solid #000;*/
}
/* style icon */
.container-custom-inicio .panel-heading .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color:#008080;    
  /*border: 1px solid #000;*/
}
.container-custom-inicio .right .glyphicon { 
  right: 10px;
}

.fotoMensaje { 
/*display: inline-block;*/
width: 100%;
 }
.contendorFotoPerfil{
  height: 150px; 
  width: 150px;
}
.fotoMensaje .fotoRegistro {
 margin: 0;
 padding: 0;
 background: url(../img/usuario.jpg) no-repeat center center; 
 background-size:cover;
  width: 100%;
  height: 100%;
 border-radius: 5px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 opacity: 0.8;
 /*border: 1px solid #000;*/
}
/*papelera del img registro*/
#clist {
padding-top: 5px;
background: #f2f2f2;
width: 24px;
height: 24px;
visibility: hidden;
border-radius: 12px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
color:#008080; 
text-align: center;
}
/* iconos dentro del input tipo 2*/

.container-custom-inicio .inner-addon {
  position: relative;
}
.container-custom-inicio .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.container-custom-inicio .left-addon .glyphicon {
  left: 1px;
  color:#009999;  /*#246175;*/
}
.container-custom-inicio .left-addon input {
  padding-left: 30px;
}
.container-custom-inicio .right-addon input {
  padding-right: 30px;
}
.container-custom-inicio  .label-custom {    
    color:#b3cccc;
}
.container-custom-inicio .label-custom-gris {
  margin: 0;
  text-align: center;    
  color:#b3cccc;
}
.container-custom-inicio .label-custom-gris a {    
  color:#f2f2f2;
}
.container-custom-inicio button.btnFormulario {
    border:none;
    background-color:#008080; 
    text-decoration:none; 
    color:#f2f2f2; 
    
    outline: none;
}
.container-custom-inicio button.btnFormulario:focus {
    border:none;
    background-color:#004d4d; 
    text-decoration:none; 
    color:#f2f2f2; 
    /*cursor:pointer; muestra el dedo */
    outline: none
}
.container-custom-inicio.text-danger-custom{
  color: #ffcccc;
}
.container-custom-inicio #mensajefoto{
    margin: auto;
    padding: 5px;
    display: none;
}
.container-custom-inicio .text-success-custom{
  color: #cce6ff;
}
.container-custom-inicio .text-danger-custom{
  color: #ffcccc;
}

.container-custom-inicio .label-custom-gris {
  margin: 0;
  text-align: center;    
  color:#b3cccc;
}
/*fin de div container container custom inicio*/
/*******************************************************************/

/*general principal ************************************************/
.container-custom-principal .text-success-custom{
  color: #cce6ff;
}
.container-custom-principal .text-danger-custom{
  color: #ffcccc;
}


/******************************************************************/
/***************contenedor divPrincipal************************/
/******************************************************************/
#divPrincipal{
    display: none;        
}
.container-custom-principal{
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;  
}
.container-custom-principal .div-custom-principal{  
  margin-top:10px;
  padding: 0px;
  background-color: #f2f2f2;  
}
.container-custom-principal .header{
  padding: 5px 10px 1px 10px;
  color: #f2f2f2;
  background-color: #008080;
  transition: top 0.5s;
  top:0;
  
}
/*
.container-custom-principal #paginaListaMapas .header{
  padding: 5px 10px 1px 10px;
  color: #f2f2f2;
  background-color: #008080;
   
}
.container-custom-principal #paginaPrincipal .header{
  
  color: #f2f2f2;
  background-color: #fff;
   
}
.container-custom-principal .header .contenedorFormBuscar{
  padding: 5px 10px 5px 10px;
  margin: 0;
  background-color:#008080;
}
.container-custom-principal .header .contenedorLinkBuscar{
  padding: 0px 10px 0px 10px;
  background-color:#fff;
}
*/
.div-custom-principal .inner-addon {
  position: relative;

}
.div-custom-principal .inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;

}
.container-custom-principal .left-addon .glyphicon {
  right: 10px;
  color: #008080;  /*#f2f2f2#246175;*/

}
.container-custom-principal .right-addon .glyphicon {
  right: 0px;
  color: #008080;  /*#f2f2f2#246175;*/

}
.div-custom-principal .left-addon .glyphicon {
  left: 0px;
  color:#009999;  /*#246175;*/

}
.container-custom-principal .right-addon input {
  padding-right: 30px;

}
.container-custom-principal .left-addon input {
  padding-left: 30px;

}
.container-custom-principal .contendorDispinible .left-addon input {
  padding-left: 50px;
}
.container-custom-principal .contendorTiempoDisponible .left-addon select{
 padding-left: 50px; 
}
.container-custom-principal  .label-custom {    
    color:#b3cccc;
}
.container-custom-principal .label-custom-gris {
  margin: 0;
  text-align: center;    
  color:#b3cccc;
}
.container-custom-principal .linkBuscarListaMapa{
  padding: 5px 0px 5px 0px ;
  margin: 10px 0px 10px 0px ;
  font-size: 16px;
  color: #fff;
  /*border: 2px solid #b3cccc;*/
  background: #b3cccc80;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  text-align:center;
  font-family: 'Ubuntu', sans-serif;
}
.container-custom-principal .mensajeListaMapas {  
 width: 80%;
}
.container-custom-principal .icoListaMapas{
  background: url(../img/mapa2B.png) no-repeat center center;
  height: 25px; 
  width: 20%;
  background-size: 25px 25px;
  
  
}
.container-custom-principal .mensajePrincipal{
margin: 5px 0px 5px 0px ;/*arriba derecha abajo izquierda */
font-size: 16px;
background: #fff;
}

/**************Btn Flotante Publicar******************/

.container-custom-principal button.btnPrincipalPublicar {
    display:scroll;
    position:fixed;
    bottom:70px;
    left: 25%;
    width: 50%;
    height: 40px;
    background: linear-gradient(135deg, #4fd8f5, #008080);
    border:none;
    font-size: 15px;
    text-decoration:none; 
    color:#f2f2f2; 
    cursor:pointer;
    outline: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: top 0.5s;
    /*background-color:#008080; */
}

.container-custom-principal .contenedorFotosCiudad{
display: -webkit-flex; /* Safari */     
/*-webkit-flex-wrap: wrap; /* Safari 6.1+ */
display: grid;
grid-template-columns: auto ;
background-color:white; 

margin: 5px 0px 5px 0px;

}
.container-custom-principal .fotoC{  
  position: relative; 
  text-align: center;
  margin: 5px 0px 5px 0px;
  display: flex;
  flex-direction: column;   
  border-radius: 3px; 
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  */
  /*width: 100%;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;*/
}
.container-custom-principal .texto-titulo{
    width: 100%;
    margin: 0;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 10px;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}
.container-custom-principal .imgCiudad {
    width: 100%;
    height: auto;
}
#mensajeCiudad{
 margin-top: 115px; 
}
.container-custom-principal .contenedorFotosBarrios {
  width: 100%;
  margin-bottom: 90px;
  padding: 10px;
  display: -webkit-flex; /* Safari */        
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: auto auto;
  background-color: #fff;
  border-radius: 2px;
}
.container-custom-principal .fotoB{
  display:inline-block;
  position:relative;
  /*display: grid;
  grid-template-columns: auto;*/
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 550px;
  /*height: 95%;    */
  /* width: 550px;
  height: 540px;*/
  margin:10px;  
  padding:0;
  background-color: #fff;
  border-radius: 5px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  /*border: 1px solid red; */
}
.fotoB .btn-circleI{
position: absolute;
top: 5px;
left: 5px;
width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 1px 0;
  line-height: 1.428571429;
  text-align: center;
  border:none;
  background-color:#f2f2f2; 
  text-decoration:none; 
  color:#008080;  
  
  outline: none;
  cursor:pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container-custom-principal .imgZona {
    /*background: url('../img/photo-camera2.png') no-repeat center center;*/
    background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    width: 100%;
    height:65%; /*auto;*/
}

/***************fin div principal ***********************************/


/**********************div pagina lista mapas**************************************/
#paginaListaMapas{
    display: none;    
}
.container-custom-principal .posHeadDerecha{
position: absolute;
right: 5px;  
}
.div-custom-principal .navtab-custom-principal {
   background-color:#008080;
}
/*nav tabs */
.div-custom-principal .nav-tabs{
  border-bottom:none;  /*#EC1A1A;*/
  
}
.div-custom-principal .nav-tabs > li > a,
.div-custom-principal .nav-tabs > li > a:hover,
.div-custom-principal .nav-tabs > li > a:focus {
    color: #b3cccc;/*#b3cccc;*/ 
    /*border: 1px solid #000;*/
}
.div-custom-principal .nav-tabs > .open > a,
.div-custom-principal .nav-tabs > .open > a:hover,
.div-custom-principal .nav-tabs > .open > a:focus,
.div-custom-principal .nav-tabs > li > a:hover,
.div-custom-principal .nav-tabs > li > a:focus {
  color:  #fff;
  background-color: #008080;
 /* background-color: rgb(0, 0, 0, 0.6);*/
  border-color: transparent;
}
.div-custom-principal .nav-tabs > li.active > a,
.div-custom-principal .nav-tabs > li.active > a:hover,
.div-custom-principal .nav-tabs > li.active > a:focus {
  color: #fff;
   background-color: #008080;
  /*background-color: rgb(0, 0, 0, 0.6);*/
  border-color: transparent; 
  
  border-bottom:4px #fff solid; /*transparent;*/
}
.container-custom-principal .tab-content-custom-principal {
  padding-top: 70px;
  background: #e6e6e6;
  height: 100%;
 /* border:3px solid orange;*/
}
/*
.container-custom-principal .fotosLista img {
  width:100%;
  height: auto;
}
*/
.container-custom-principal .swiper-container {
     /* padding-top: 5px;*/
      width: 100%;
      height: 200px;
      background: #fff;
      /*border: 1px solid red;*/
    }
.swiper-container .swiper-slide {
       /*margin-top:5px;   */
      
      /*font-size: 14px;
      background: #fff;

      /*text-align: center; 
      Center slide text vertically */
     /* display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;*/
     /* display: inline-grid;
      /*-webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;*/
      /*justify-content: center;
     /*-webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;*/
      /*align-items: center;*/
      width: 70%;
      height: 100%;
      /*border: 1px solid black;*/
      /*border-radius: 3px; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
      
    }
.swiper-container .fotoD{   
   /*background: url(..//img/barcelona1.jpg) no-repeat center center;  */
    width: 100%;
    height: 60%;
    background-size:cover;

  
  }
/*.swiper-container .imgD{ 
    background-size: cover;   
    width: 100%;
    height: 100%;
}*/
.swiper-container .mensajeD{   
    width: 100%;
    height: 35%;
    padding-left: 5px;
}
.mensajeD .mensajeDPrecio{
  font-weight:bold;  

}
.mensajeD .mensajeDZona{
  font-weight:bold;  

}
.swiper-container .contenedorMensajeServiciosPe{
  display: flex;
  flex-direction: row;
}
  .contenedorMensajeServiciosPe .mensajePerPu{
    /*background: url(..//img/barcelona.jpeg) no-repeat center center;*/
    width:30px; 
    height:30px;
    /*background-size: cover;*/
    border-radius: 15px; 
  }
  .contenedorMensajeServiciosPe .mensajeServiciosPu{
    width:30px; 
    height:30px;
    border:1px solid #000;
    border-radius: 5px; 
    margin-left: 5px;
  }  

.contenedorMapa{
  margin: 10px 2px 2px 2px;
  background: #fff;
  /*padding: 0px auto;*/
  border: 1px solid #f2f2f2;
  position: absolute;
  /*bottom:2px;*/
  width: 100%;
  height: 61%;
}
#map{
  position: relative;  
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0; 
  /*border: 1px solid #000;*/    
}

.container-custom-principal .contenedorFotosLista{
margin: 5px;
display: grid;
grid-template-columns: auto auto;
}  
.container-custom-principal .contenedorLista {
      
    width: 95%;
    height: 210px;
    background: #fff;
    margin: 5px;
    display: flex;
    flex-direction: column;   
    border-radius: 3px; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }

.contenedorLista .fotoL{  
  /*background: url(../img/barcelona.jpeg) no-repeat center center;background-size: cover;*/
  height: 65%; 
  width: 100%;
  border-radius: 3px 3px 0px 0px;
   
}

.contenedorLista .mensajeL{   
    width: 100%;
   /* height: 30%;*/
    padding-left: 5px;
}
.mensajeL .mensajeLPrecio{
  font-weight:bold;  

}
.mensajeL .mensajeLZona{
  font-weight:bold;  

}
.contenedorLista .contenedorMensajeServiciosPe{
  display: grid;/*flex; flex-direction: row;*/
  grid-template-columns: auto auto auto auto auto auto;
}
.contenedorLista .contenedorMensajeServiciosPe .mensajePerPu{
    /*background: url(..//img/barcelona.jpeg) no-repeat center center;*/
    width:25px; 
    height:25px;
    /*background-size: cover;*/
    border-radius: 12px; 
  }
.contenedorLista .contenedorMensajeServiciosPe .mensajeServiciosPu{
    width:25px; 
    height:25px;
    border:1px solid #000;
    border-radius: 3px; 
    margin: 0px 0px 2px 2px;
  }


/**********************fin buscarListaMapa***********************/
/**********************div publicar general ******************/
.container-custom-principal .posHeadCenter{
position: absolute;
left: 30%;  
/*border: 1px solid red;*/
}
.container-custom-principal .btnPosIzq{
position: absolute;
left: 5px;
top: 14px; 
}
.container-custom-principal .icoBuscarBtnPuPrin{
  background: url(../img/publicarB.png) no-repeat center center;
  height: 25px; 
  width: 25px;
  background-size: 25px 25px;

}
.container-custom-principal .btnPosDer{
position: absolute;
right: 10px;
top: 8px; 
}
.container-custom-principal .headerPublicar {
  padding: 5px 10px 0px 10px ;
  color: #008080;
  background-color:#f2f2f2;
  border-bottom: 3px solid #b3cccc;
  font-size: 17px;  
}

/****************************fin div general **********************************/

/****************************div publicar general***************************/
#paginaPublicar{
    display: none;    
}
.container-custom-principal .label-custom-color{
  font-family: 'Ubuntu', sans-serif;

  padding-left: 10px;
  color:#008080; /*#f2f2f2;*/
  font-size: 18px;
}
.div-custom-principal .div-secundario{
  padding: 10px;  
}
.div-custom-principal .divPublicar{
  /*border: 1px solid pink;*/
  margin: 30px 0px 0px 0px;
  /*margin-top:40px;*/
  /*padding: 10px;*/
  background-color: #fff;  
}
.container-custom-principal .label-custom-medio{  
  margin: 1px;
  text-align: center;
  color:#008080;
}

/*a perfil */



.container-custom-principal button.btnFormularioPrincipal {
    border:none;
    background-color:#008080; 
    text-decoration:none; 
    color:#f2f2f2; 
    cursor:pointer;
    outline: none;
    border-radius: 0;
}
.container-custom-principal button.btnFormularioPrincipal:focus {
    border:none;
    background-color:#004d4d; 
    text-decoration:none; 
    color:#f2f2f2; 
    cursor:pointer;
    /*outline: none
    border-radius: 0;*/
}



.container-custom-principal .form-group ::placeholder{
  color: rgba(128, 128, 128,.6);
}
.container-custom-principal .text-danger-custom{
  color: #ffcccc;
}
.text-danger-custom1{
  color: #ff8080;
}
.container-custom-principal #mensajefotoA{
    margin: auto;
    padding: 5px;
    display: none;
}
/****************************fin div publicar general***************************/
/************************** 1: divPublicar direccion(Ubicacion)  **************************/
.div-custom-principal .contenedorDireccion{
  /*position: absolute;*/
  /*border: 1px solid red;  */
  padding: 10px 10px 1px 10px;
  width: 100%;
  margin: 0px;
  /*padding: 10px;*/
  background-color: #fff;
}
.div-custom-principal .linkBuscarDireccion{  
  display: flex;
  border-bottom:1px solid #008080;
}
.div-custom-principal .mensajeMapaUbicacion{
  width: 90%;
}
.div-custom-principal .icoMapaUbicacion{
  width: 50%;
  background: url(../img/mapa3C.png) no-repeat center center;
  height: 25px; 
  width: 25px;
  background-size: 25px 25px;  
}
.div-custom-principal .text-center-min{  
  font-size: 10px;
}

.div-custom-principal .contenedorMapaDireccion{
  margin: 2px 2px 2px 2px;  
  background: #fff;
  border: 1px solid #f2f2f2;
  position: absolute; 
  width: 100%;
  height: 81%;
  display: none;
}
.div-custom-principal #mapDireccionBuscar{
  position: relative;
  /*display: none;*/
  width: 100%;
  height: 81%; 
  margin: 0;
  padding: 0; 
  /*border: 1px solid #000;*/
    
}
.div-custom-principal #mapDireccionLink{
  position: relative;
  /*display: none;*/
  width: 100%;
  height: 81%; 
  margin: 0;
  padding: 0; 
  /*border: 1px solid #000;*/    
}
/*************** fin paso 1 direccion  *********************/



/************************2 foto ubucacion*********************************/


/***************************fin de 2 foto ubicacion**************************************/
#paginaUsuarioPerfilEditar{
    display: none;    
}
#paginaUsuarioPerfilMostrar{
    display: none;    
}
/*div Publicar*/
/********************div publicar Foto Ubicacion*************************/
.publicarFotoUbicacion{
  display: none;
  width: 100%;
  height: 100%;
}
.container-custom-principal .imgPublicar {
  width: 100%; 
  height: 400px;
  border-radius: 5px;  
  font-size: 12px;
  margin: 5px;
  display: -webkit-flex; /* Safari */        
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  /*border:1px solid #000;  */ 
}
#divImgPublicarG {
  width: 100%;
  height: 90%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.divImgPublicarG img{
  margin:10px auto;
  display:block;
  width: 40%;
  height: 40%;
 /* border:1px solid #008080;  */
}
#divImgPublicarP{
  /*background: url('../img/photo-camera2.png') no-repeat center center;*/
  width: 200px;
  height:190px;
  margin: 0;
  padding: 5px;
  background-size: cover;
  display: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 /* border:1px solid #008080; */

}

#divImgPublicarP img{
  margin:0 auto;
  /*display:block;*/
  width: 80%;
  height:95%;
/*border:1px solid #008080;  */
}
.container-custom-principal .fotoPublicar{
  width:200px;
  height:190px;
  margin: 0;
  margin: 5px;
  /*padding: 5px;*/
  display: flex;
  flex-direction: column;      
  border-radius: 5px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  /*background-color: #000;*/
}
.removeImgPublicar {

padding: 8px;
width: 26px;
height: 26px;
border-radius: 13px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
background-color:#f2f2f2; 
color:#008080; 
font-size: 14px;
}

.container-custom-principal .label-custom-negro{
  margin: 0;
  text-align: center;
  color:#000; 
}
.incluyeGastos input[type="checkbox"] {
  display: none;
}
.incluyeGastos input[type="checkbox"] + label span {  
  display: inline-block;
  width: 15px;
  height: 15px; 
  background: url(../img/uncheck.png);
  background-size: cover;  
}
.incluyeGastos input[type="checkbox"]:checked + label span {
  background: url(../img/check.png);
  background-size: cover;
}

/********************FIN div publicar Foto Ubicacion*************************/

/**********************************************div Perfil **************************************/
.container-custom-principal button.btn-circle {
  display:scroll;
  position:relative;
  opacity: 0.7;
  top:5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 6px 0;
  line-height: 1.428571429;
  text-align: center;
  border:1px solid #008080;/*none;*/
  background-color:#f2f2f2; 
  text-decoration:none; 
  color:#008080;  
  cursor:pointer;
  outline: none;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     */
}
.container-custom-principal button.btn-circle:focus {    
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  border:none;
  background-color:#004d4d; 
  text-decoration:none; 
  color:#f2f2f2; 
  cursor:pointer;
  outline: none
}
.form-principal-publicar input[type="text"],
.form-principal-publicar input[type="date"] {
  border: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #008080;
  color: #0d0d0d;
  box-shadow: none; 

}
.content-select select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-principal-publicar textarea {
  border: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #008080;
  color: #0d0d0d;
  box-shadow: none; 
}
.form-principal-publicar textarea:focus {
  box-shadow: none; 
}
/**************************fin div publicar Foto Ubicacion ****************************/

/*****************************3: div vivienda *******************************************/
.publicarVivienda{
  display: none;
}
/* ejemplo de radio personalizado
.demo input[type="radio"] {
  display: none;
}
.demo input[type="radio"] + label span {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url(../img/unchecked150x150.png);
  background-size: cover;
  cursor: pointer;
}
.demo input[type="radio"]:checked + label span {
  background: url(../img/checked150x150.png);
  background-size: cover;
}
*/
.container-custom-principal .contendorRadioPu{
  margin: 0 auto;  
  display: inline-flex;
  
}
.contendorRadioPu .imgViSolo { 
 margin: 5px; 
 background: url(../img/camaSG.png) no-repeat center center;
 height: 70px; 
 width: 60px;
 background-size: 60px 70px;
 border-radius: 5px; 
 border: 1px solid #000;
}
.contendorRadioPu .imgViComp {
  margin: 5px; 
  background: url(../img/camaLG.png) no-repeat center center;
  height: 70px; 
  width: 60px;
  background-size: 60px 70px;
  border-radius: 5px;
  border: 1px solid #000; 
}
.form-principal-publicar input[type="radio"] { 
  opacity: 0; 
  width: 90%;
  height: 90%;  
}
.container-custom-principal .contendorViPu{
  margin: 0 auto;  
  display: inline-flex;
  /*border: 1px solid green;*/
}
.container-custom-principal .contenedorViPuHoMu{
  margin: 5px;
  padding: 5px;

  display: inline-flex;
  border: 1px solid #999999;
  border-radius: 4px;
}
.container-custom-principal .contenedorBtnViPu{
  display: inline-grid;
  /*border: 1px solid #999999;*/
}
.container-custom-principal .imgViHo { 
  
  background: url(../img/hombreGViPu.png) no-repeat center center;
  height: 80px; 
  width: 80px;
  background-size: 80px 80px;
  border-radius: 4px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*opacity: 0.8;*/
  /*border: 1px solid #000;*/
}
.container-custom-principal .imgViMu {
  /*margin: 5px; 
  padding: 5px;*/
  background: url(../img/mujerGViPu.png) no-repeat center center;
  height: 80px; 
  width: 80px;
  background-size: 80px 80px;
  border-radius: 4px;
  /*border: 1px solid #000;*/
 /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
 /*opacity: 0.8;*/
 /*border: 1px solid #000;*/
}
.container-custom-principal .btn-circleMM {
  display:scroll;
  position:relative;
  top:1px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 5px 0;
  line-height: 1.428571429;
  text-align: center;
  border:none;
  background-color:#f2f2f2; 
  text-decoration:none; 
  color:#008080;    
  outline: none;
  cursor:pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     
  
}
.container-custom-principal .contenedorServicios{
  display: -webkit-flex; /* Safari */     
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap; 
  /*border: 1px solid pink;*/
  padding: 5px;
}
.contenedorServicios .serviciosPuMas{
  margin: 5px;
  height: 70px;
  width: 60px;

  border-radius: 5px;   
}
.contenedorServicios .serviciosPu{  
  margin: 5px;
  height: 70px;
  width: 60px;

  border-radius: 5px;   
}
.form-principal-publicar .contenedorNoPermitido input[type="checkbox"] { 
  opacity: 0; 
  width: 90%;
  height: 90%;  
}
.container-custom-principal .contenedorNoPermitido{
  display: inline-flex;
  /*border: 1px solid pink;*/
  padding: 5px;
}

.contenedorNoPermitido .imgNoPeFumar{
  /*display: inline-block;
  text-align: center;
  color: #999999;
  font-size: 8px;*/
  
  background: url(../img/noFumarGLe.png) no-repeat center center; 
  width: 60px;
  height: 70px;  
  background-size: 60px 70px;
  border:1px solid #999999;
  border-radius: 5px;
  margin-left: 10px;
}
.contenedorNoPermitido .imgNoPeMascota{
  display: inline-block;
  text-align: center;
  color: #999999;
  font-size: 8px;
  border-radius: 5px;
  background: url(../img/noMascotaGLe.png) no-repeat center center; 
  width: 60px;
  height: 70px; 
  
  background-size: 60px 70px;
  border:1px solid #999999;
  margin-left: 10px;
}
.contenedorNoPermitido .imgNoPePareja{
  display: inline-block;
  text-align: center;
  color: #999999;
  font-size: 8px;
  border-radius: 5px;
  background: url(../img/noParejaGLe.png) no-repeat center center; 
  width: 60px;
  height: 70px; 
  
  background-size: 60px 70px;
  border:1px solid #999999;
  margin-left: 10px;
}

/************************Servicios**********************************************/
#btnAtrasServicios{
  visibility: hidden;
}
.contenedorServiciosLi .imgSeAscensor input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeAscensor input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/ascensorG.png);
  background-size: cover;
  cursor: pointer;
  border:none;
  
}
.contenedorServiciosLi .imgSeAscensor input[type="checkbox"]:checked + label span {
  background: url(../img/ascensorN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px; 
}

.contenedorServiciosLi .imgSeCalefaccion input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeCalefaccion input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/calefaccionG.png);
  background-size: cover;
  cursor: pointer;
  border:none;
}
.contenedorServiciosLi .imgSeCalefaccion input[type="checkbox"]:checked + label span {
  background: url(../img/calefaccionN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSeEstacionamiento input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeEstacionamiento input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/estacionamientoG.png);
  background-size: cover;
  cursor: pointer;
}
.contenedorServiciosLi .imgSeEstacionamiento input[type="checkbox"]:checked + label span {
  background: url(../img/estacionamientoN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSeLavadora input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeLavadora input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/lavadoraG.png);
  background-size: cover;
  cursor: pointer;
}
.contenedorServiciosLi .imgSeLavadora input[type="checkbox"]:checked + label span {
  background: url(../img/lavadoraN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSeLavaVajilla input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeLavaVajilla input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/lavaVajillasG.png);
  background-size: cover;
  cursor: pointer;
}
.contenedorServiciosLi .imgSeLavaVajilla input[type="checkbox"]:checked + label span {
  background: url(../img/lavaVajillasN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSeMuebles input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeMuebles input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/mueblesG.png);
  background-size: cover;
  cursor: pointer;
}
.contenedorServiciosLi .imgSeMuebles input[type="checkbox"]:checked + label span {
  background: url(../img/mueblesN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSePiscina input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSePiscina input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/piscinaG.png);
  background-size: cover;
  cursor: pointer;
}
.contenedorServiciosLi .imgSePiscina input[type="checkbox"]:checked + label span {
  background: url(../img/piscinaN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSePortero input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSePortero input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/porteroG.png);
  background-size: cover;
  cursor: pointer;
}
.contenedorServiciosLi .imgSePortero input[type="checkbox"]:checked + label span {
  background: url(../img/porteroN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}
.contenedorServiciosLi .imgSeRadiador input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeRadiador input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/radiadorG.png);
  background-size: cover;
  cursor: pointer;
  border:none;
}
.contenedorServiciosLi .imgSeRadiador input[type="checkbox"]:checked + label span {
  background: url(../img/radiadorN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSeSecador input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeSecador input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/secadorG.png);
  background-size: cover;
  cursor: pointer;
  border:none;
}
.contenedorServiciosLi .imgSeSecador input[type="checkbox"]:checked + label span {
  background: url(../img/secadorN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSeTv input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeTv input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/tvG.png);
  background-size: cover;
  cursor: pointer;
  border:none;
}
.contenedorServiciosLi .imgSeTv input[type="checkbox"]:checked + label span {
  background: url(../img/tvN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

.contenedorServiciosLi .imgSeWifi input[type="checkbox"] {
  display: none;
}
.contenedorServiciosLi .imgSeWifi input[type="checkbox"] + label span {
  display: inline-block;
  width: 35px;
  height: 35px;
  /*margin: -1px 4px 0 0;*/
  vertical-align: middle;
  background: url(../img/wifiG.png);
  background-size: cover;
  cursor: pointer;
  border:none;
}
.contenedorServiciosLi .imgSeWifi input[type="checkbox"]:checked + label span {
  background: url(../img/wifiN.png);
  background-size: cover;
  border:1px solid #008080;
  border-radius: 5px;
}

/*************************fin servicios*****************************************/

/***************************** 3: fin div vivienda *******************************************/
/***************************** 4:  div Habitacion *******************************************/
.container-custom-principal .contendorRadioCa{
  display: -webkit-flex; /* Safari */     
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap; 
  padding: 5px;
}
.contendorRadioCa .imgCa{  
  height: 70px;  
  width: 60px;  
  border:1px solid #999999;
  border-radius: 5px;
  margin: 5px;  
}
.contendorRadioCa .imgCaSolo {   
  background: url(../img/camaSimpleGLe.png) no-repeat center center;  
  background-size: 60px 70px; 
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*opacity: 0.8;*/  
}
.contendorRadioCa .imgCaDoble {   
  background: url(../img/camaDobleGLe.png) no-repeat center center;  
  background-size: 60px 70px; 
}
.contendorRadioCa .imgCaSofa {   
  background: url(../img/camaSofaGLe.png) no-repeat center center;  
  background-size: 60px 70px;   
}.contendorRadioCa .imgCaLitera {   
  background: url(../img/camaLiteraGLe.png) no-repeat center center;  
  background-size: 60px 70px;   
}.contendorRadioCa .imgCaSolos {   
  background: url(../img/camaSolosGLe.png) no-repeat center center;  
  background-size: 60px 70px;   
}
.contendorRadioCa .imgCaNada {   
  background: url(../img/camaNadaGLe.png) no-repeat center center;  
  background-size: 60px 70px;
}
/* The container */
.contenedorHasta-collapse-custom .containerHasta {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 1px;
  user-select: none;/*el usuario no puede marcar haciendo doble chic*/
 
 /* font-size: 22px;border:1px solid blue;
   cursor: pointer;
   -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
  */
}

/* Hide the browser's default checkbox */
.contenedorHasta-collapse-custom .containerHasta input {
  position: absolute;
  opacity: 0;  
  height: 18px;
  width: 18px;
  /* cursor: pointer;  */ 
}
/* Create a custom checkbox */
.contenedorHasta-collapse-custom .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 18px;
  width: 18px;
  border:2px solid #008080;
  border-radius: 2px;
}
/* Create the checkmark/indicator (hidden when not checked) */
.contenedorHasta-collapse-custom .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.contenedorHasta-collapse-custom .containerHasta input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.contenedorHasta-collapse-custom .containerHasta .checkmark:after {
  left:4px;
  top: 0px;
  width: 6px;
  height: 10px;
  border: solid #008080;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.contenedorHasta-collapse-custom .containerHasta .glyphicon {
  position: absolute;
  padding: 2px;
  pointer-events: none;
  color:#008080;    
  right: 10px;
  /*border: 1px solid #000;*/
}




/*

.hasta input[type="checkbox"] {
  margin: 0 auto;  
  display: inline-flex;
  opacity: 0.8;
  width: 15px;
  height: 15px;
  border:3px solid #000;
  /*display: none;*/
/*
}
.hasta input[type="checkbox"] + label span {
  /*pointer-events: none;
  border:2px solid red;*/
/*  display: inline-block;
  width: 15px;
  height: 15px;  
  background: url(../img/uncheck.png);
  background-size: cover;  
}
.hasta input[type="checkbox"]:checked + label span {
  /*border:2px solid pink;*/
/*  background: url(../img/check.png);
  background-size: cover;
}
*/
.container-custom-principal .contenedorHasta-collapse-custom {
  color:#f2f2f2;
  padding: 0px;
  margin-bottom: 10px;
  border-bottom:1px solid #008080; 
  border-radius: 0;
}

.container-custom-principal .hasta{ 
    position: relative;
    margin: 0px;
    padding: 0px;

  /* border: 1px solid #000;*/

}
/* style icon */
.contenedorHasta-collapse-custom .hasta .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color:#008080;    
  right: 10px;
  /*border: 1px solid #000;*/
}
.contenedorHasta-collapse-custom .collapseHasta{
 /* display: none;*/
}


.content-select select {
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border:none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #008080;
  color: #0d0d0d;
  box-shadow: none;
}
/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
    display: none;
}

.content-select select option{
  border:none;
  border-radius: 0;
  background: transparent;
  
  color: #0d0d0d;
  box-shadow: none; 
}
/*.content-select{
  max-width: 250px;
  position: relative;
}*/
/*.content-select select{
  display: inline-block;
  width: 100%;
  cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0; 
    border: 0;
  border-radius: 0;
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1em;
  color: #999;
  font-family: 'Quicksand', sans-serif;
  border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}*/
.content-select select:hover{
  border:none;
  border-bottom: 1px solid #008080;
  border-radius: 0;
  background: transparent;
  color: #0d0d0d;
  box-shadow: none; 
}
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
/*.content-select i{
  position: absolute;
  right: 20px;
  top: calc(50% - 13px);
  width: 16px;
  height: 16px;
  display: block;
  border-left:4px solid #2AC176;
  border-bottom:4px solid #2AC176;
  transform: rotate(-45deg); /* Giramos el cuadrado */
/*  transition: all 0.25s ease;
}
 
.content-select:hover i{
  margin-top: 3px;
}*/

.container-custom-principal .contenedorRadioHa{
  display: -webkit-flex; /* Safari */     
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap; 
  padding: 5px;
}
.contenedorRadioHa .imgHabi{  
  height: 70px;  
  width: 60px;  
  border:1px solid #999999;
  border-radius: 5px;
  margin: 5px;  
}
.contenedorRadioHa .imgHaS {   
  background: url(../img/dimensionesSGLe.png) no-repeat center center;  
  background-size: 60px 70px; 
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  /*opacity: 0.8;*/  
}
.contenedorRadioHa .imgHaM {   
  background: url(../img/dimensionesMGLe.png) no-repeat center center;  
  background-size: 60px 70px; 
}
.contenedorRadioHa .imgHaL {   
  background: url(../img/dimensionesLGLe.png) no-repeat center center;  
  background-size: 60px 70px;   
}


/***************************** 4: fin div Habitacion *******************************************/

.publicarDirecion{
  display: none;
 } 

.publicarPiso{
  display: none;
}

.container-custom-principal button.btnFormularioContinuar {
    border:none;
    background-color:#808080; /*#008080;transparent;*/
    text-decoration:none; 
    color:#f2f2f2;
    cursor:pointer;
    outline: none;
    border-radius: 0;
    height: 50px;
}
.container-custom-principal button.btnFormularioContinuar:focus {
    border:none;
    background-color:#004d4d; 
    text-decoration:none; 
    color:#f2f2f2; 
    cursor:pointer;
    outline: none
}

.container-custom-principal button.btnFormularioContinuar:active:focus {
    border:none;
    background-color:#004d4d; /*!important;*/
    text-decoration:none; 
    color:#f2f2f2; 
    cursor:pointer;
    outline: none
}
.container-custom-principal button.btnFormularioContinuar:active:hover {
    border:none;
    background-color:#004d4d; 
    text-decoration:none; 
    color:#f2f2f2; 
    cursor:pointer;
    outline: none
}
.container-custom-principal .progress-custom{
  padding: 0;
  margin:0;
  height: 5px;
  border-radius: 0;
  /*border: 1px solid red;*/
}
.container-custom-principal .progressbar-bar-custom{
  padding: 0;
  margin:0;
  width: 33%;
  background-color:#008080;
  /* border: 1px solid blue;*/
}
/********************Perfil ***********************************/
.form-principal-perfil input[type="text"],
.form-principal-perfil input[type="email"],
.form-principal-perfil input[type="date"],
.form-principal-perfil input[type="tel"], 
.form-principal-perfil input[type="password"] {
  border: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #008080;
  color: #0d0d0d; 
  box-shadow: none;
  /*outline: none;*/
}
/* transparente al radio*/

.form-principal-perfil input[type="radio"] { 
  opacity: 0; 
  width: 90%;
  height: 90%;
  
}

/* IMAGE STYLES */
/*.form-principal-perfil input[type=radio] + img {
  cursor: pointer;
}*/
.form-principal-perfil ::placeholder{
  color: rgba(128,128,128,.6);
}
/*icono basurero */
#clistA {
padding: 5px;
background: #f2f2f2;
width: 24px;
height: 24px;
visibility: hidden;
border-radius: 12px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
color:#008080; 
}
.contendorFotoPerfilM{
  padding: 0;
  background-color: #000;
  width: 100%;
  height: 500px;
 /* border: 1px solid blue;*/
}
.fotoPerfilM{
 
  width: 100%;
  height: 100%;

}
.contendorFotoPerfilE{
  background-color: #000;
  width: 70%;
  height: 200px;
 /* border: 1px solid blue;*/
}

.fotoPerfilE{
  width: 100%;
  height: 100%;
/*   border: 1px solid red; */
}

.divSexo{
text-align: center;
color: #999999;
font-size: 6px;
margin-left: 30px;
padding: 6px; 
border-radius: 5px;
border:1px solid #999999;   
}
.divSexo .imgSexoRH {
 
 margin-bottom: 10px; 
 background: url(../img/hombreG.png) no-repeat center center;
 height: 25px; 
 width: 25px;
 background-size: 25px 25px;
 border-radius: 4px;
 /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
 /*opacity: 0.8;*/
 /*border: 1px solid #000;*/
}
.divSexo .imgSexoRM {
  margin-bottom: 10px; 
 background: url(../img/mujerG.png) no-repeat center center;
 height: 25px; 
 width: 25px;
 background-size: 25px 25px;
 border-radius: 4px;
 /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
 /*opacity: 0.8;*/
 /*border: 1px solid #000;*/
}

.divCarac{
/*text-align: center;
color: #999999;
font-size: 6px;*/
margin-left: 10px;
/*padding: 6px; */
border-radius: 5px;
border:1px solid #999999;   
}
.divCarac #imgSexo {
 
 /*margin-bottom: 10px; */
 background: url(../img/mujerG.png) no-repeat center center;
 
 width: 25px;
 height: 30px; 
 background-size: 25px 30px;
 /*border-radius: 2px;*/
}


.container-custom-principal .contenedorFotoMensajePublicados {
  width: 100%;
  margin-bottom: 90px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  /*display: grid;
  grid-template-columns: auto auto;*/
 /* background-color: #fff;*/
  border-radius: 2px;
}
.contenedorFotoMensajePublicados .publicadoM{
  display:inline-block;
  position:relative;
  display: flex;
  /*grid-template-columns: auto auto;*/
  /*display: flex;
  flex-direction: column;*/
  width: 95%;  
  margin:10px;  
  padding:0;
  background-color: #fff;
  border-radius: 5px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  /*border: 1px solid red; */
}
.publicadoM .imgPubli {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; 
  width: 100%;
  height: 150px;    
}

.publicadoM .fotoPublicadoM{
  padding: 0;
  width:60%;  
}
.publicadoM .mensajePublicadoM{
  width: 40%;
  padding: 5px;  
}
.mensajePublicadoM .strPreTiPublicado{  
  font-size: 14px;
  font-weight:bold;
}
/*.mensajePublicadoM .zonaPublicado{

}*/
/* boton editar en img publicado despues de click en icoUsuario*/
.publicadoM .editarPublicadoM{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 8px;
  opacity: 0.7;
  /*line-height: 1.428571429;interlineado */
  /*text-align: center;*/
  border:1px solid #008080;/*none;*/
  background-color:#f2f2f2; 
  text-decoration:none; 
  color:#008080;  
  
  outline: none;
  cursor:pointer;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
/* boton eliminar en img publicado despues de click en icoUsuario*/
.publicadoM .removePublicadoM{
  position: absolute;
  top: 45px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 7px;
  opacity: 0.7;
  border:1px solid #008080;/*none;*/
  background-color:#f2f2f2; 
  text-decoration:none; 
  color:#008080;  
  
  outline: none;
  cursor:pointer;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
/****************fin de perfil*************************/
/****************iconos footer*************************/
.container-custom-principal .footer{
  padding: 0 auto;
  border-top: 3px solid #b3cccc;
  /*background-color:rgb(0, 0, 0,0.5 )/*#008080;*/
  background-color:#f2f2f2;/*rgb(0, 128, 128,0.8 )/**/
  color:rgba(89, 89, 89, 0.8); /*rgba(128, 128, 128,.8);*/ 

}
.footer .glyphicon {
  font-size: 14px;
  pointer-events: none;
  color:rgba(89, 89, 89, 0.8);/*rgba(128, 128, 128,.8);/*#008080;  */
  
}
 .footer .icoFooter{  
  display: inline-block;
  width:24%;
  text-align: center; 
  padding: 5px;
  
}
#icoBuscar{
  /*border-top: 2px solid #008080;    */
}
/*.footer #icoUsuario{
  border-top: 2px solid #f2f2f2;    
}*/
.footer .icoFooterBuscar{
  background: url(../img/buscarC.png) no-repeat center center;
  height: 30px; 
  /*width: 25px;*/
  background-size: 30px 30px;
  
}
.footer .icoFooterPublicar{
  background: url(../img/publicarG.png) no-repeat center center;
  height: 30px; 
  /*width: 25px;*/
  background-size: 30px 30px;  
  
}
.footer .icoFooterMensajes{
  background: url(../img/mensajeG.png) no-repeat center center;
  height: 30px; 
  /*width: 25px;*/
  background-size: 30px 30px;  
  
}
.footer .icoFooterUsuario{
  background: url(../img/perfilG.png) no-repeat center center;
  height: 30px; 
  /*width: 25px;*/
  background-size: 30px 30px;  
  
}
.footer .icoFooterMensaje{
  font-size: 10px;
 /* display: none;*/
}

/*************************fin de icoFooter**************************************/
@media screen and (max-width: 1200px) {
  .contendorFotoPerfilM {    
    height: 400px;
  } 
  .container-custom-principal .imgPublicar {    
    height: 620px;
  }
  #divImgPublicarP{
  /*background: url('../img/photo-camera2.png') no-repeat center center;*/
   width: 300px;
    height:290px;
  }
  .container-custom-principal .fotoPublicar{
    width:300px;
    height:290px;  
    margin: 5px;
    border-radius: 5px; 
}
.removeImgPublicar {
    margin: 7px;
    padding: 7px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color:#f2f2f2;
    
    color: #008080; 
    font-size: 25px;
  }  
.container-custom-principal .fotoB{
  
  height: 350px;
  }

}
@media screen and (max-width: 900px) {
  .contendorFotoPerfilM {    
    height: 350px;
  }
 /* .divImgPublicarG{
    width: 300px;
  }*/
  .container-custom-principal .imgPublicar {    
    height: 410px;
  }
  #divImgPublicarP{
  
    width: 200px;
    height:190px;
  }
   .container-custom-principal .fotoPublicar{
    width:200px;
    height:190px;  
    margin: 3px;
    border-radius: 3px; 
  }   
.removeImgPublicar {
  margin: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color:#f2f2f2;    
    color: #008080; 
    font-size: 19px;
}   
  .container-custom-principal .fotoB{
  height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .contendorFotoPerfilM {    
    height: 300px;
  }
 /* .divImgPublicarG{
    width: 200px;
  }*/
  .container-custom-principal .imgPublicar {
     height: 210px;
  }
  #divImgPublicarP{
    
    width: 110px;
    height:100px;
  }
  .container-custom-principal .fotoPublicar{
    width:110px;
    height:100px;    
    margin: 2px;
    border-radius: 2px; 
  }
  .removeImgPublicar {
    margin: 4px;
    padding: 6px;
    width: 26px;
    height: 26px;
    border-radius: 13px;
    background-color:#f2f2f2;
    
    color: #008080; 
    font-size: 15px;
  }
  .container-custom-principal .fotoB{
  height: 150px;
  }
  
}

